<div class="container">
  <div class="mipComponentMipNameContainer">
    <div class="mipComponentLogoContainer">
     <img class="mipComponentLogo" src="../assets/imgs/makerLogo.svg"/>
    </div>

    <div class="mipComponentMipName">MIP10:Parent Lorem ipsum</div>
  </div>
  <div class="mipComponentMipSumary">
    <div class="rectangleContainer">
     <div class="thinRectangle"></div>
    </div>
    <div class="mipSumary">Governance is a process through which a group of stakeholders comes to a
     decision on a particular change within their system or organization.
  
     </div>
  </div>
  <div class="mipComponentTitleContainer">
    <div class="rectangleContainer">

     <div class="thinRectangle"></div>
     <img class="mipComponentLogo" src="../assets/imgs/mipComponentLogo.svg" />
    </div>
    <div class="mipComponentTitle">c6 within their system or organization.
  
     </div>
  </div>
  <div class="mipComponenSumary">
    <div class="rectangleContainer">
     <div class="fadeThinRectangle"></div>
    </div>
    <div class="mipComponentSumary">Governance is a process through which a group of stakeholders comes to a
     decision on a particular change within their system or organization.
  
     </div>
  </div>
  
</div>
